.card {
  background-color: #fff;
  border-radius: 0.937rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 23.12rem;
  height: 20.3rem;
  font-family: "Arial", sans-serif;

  .card-image {
    position: relative;
    width: 100%;
    /* Consistent width */
    height: 100%;
    /* Consistent height */
    display: flex;
    align-items: center;
    /* Centers vertically */
    justify-content: center;
    /* Centers horizontally */
    overflow: hidden;

    img {
      display: block;
      width: 21rem;
      /* Restricts image width to 100% of the container */
      height: 13.75rem;
      /* Restricts image height to 100% of the container */
      object-fit: cover;
      /* Ensures image fits inside without being cropped */

      border-radius: 0.75rem;
    }

    .delivery-time {
      position: absolute;
      top: 1.562rem;
      right: 1.25rem;
      background-color: rgb(255, 255, 255);
      color: #000000;
      padding: 0.312rem 0.625rem;
      border-radius: 0.625rem;
      font-size: 0.875rem;
    }
  }

  .card-content {
    padding: 0.937rem;

    h3 {
      margin: 0;
      font-size: 1.125rem;
      color: #333;
    }

    p {
      margin: 0.312rem 0 0;
      font-size: 0.875rem;
      color: #777;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.937rem;
    border-top: 0.06rem solid #eee;

    .price {
      display: flex;
      align-items: center;

      img {
        width: 1.125rem;
        height: auto;
        margin-right: 0.312rem;
      }

      span {
        font-size: 1rem;
        color: #333;
      }
    }

    .rating {
      span {
        font-size: 1rem;

        &.bold {
          font-weight: bold;
          color: #333;
        }

        &.light {
          font-weight: lighter;
          color: #bbb;
        }

        &.first-light {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .card {
    width: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 18rem;
  }
}
