<div class="main-container">
  <div class="container">
    <div class="header" style="padding-bottom: '9.375rem'">
      <div class="logo">QUICK BITE</div>
      <div class="buttons">
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
          Sign Up
        </button> -->

        <button
          class="signButtonLight btn btn-primary"
          data-toggle="modal"
          data-target="#signupModal"
          (click)="openLoginModal()"
        >
          Sign in
        </button>
        <button class="signButton">Sign up</button>
      </div>
    </div>
  </div>
</div>
