<div
  class="cart-container"
  [ngClass]="{
    'cart-visible': isCartVisible,
    'cart-notvisible': !isCartVisible
  }"
  [ngStyle]="{ height: isCartVisible ? 'auto' : '4rem' }"
>
  <div class="header">
    <h2 class="cart-title">Shopping cart</h2>
    <div
      class="maximize-icon icon"
      *ngIf="!isCartVisible"
      (click)="toggleCart('maximize')"
    >
      <i class="material-icons">open_in_full</i>
    </div>
    <div
      class="minimize-icon icon"
      *ngIf="isCartVisible"
      (click)="toggleCart('minimize')"
    >
      <i class="material-icons">close_fullscreen</i>
    </div>
  </div>
  <hr />

  <div class="cart-item" *ngFor="let item of items; let i = index">
    <div class="item-details">
      <span class="item-name">{{ item.title }}</span>
      <span class="item-price">${{ item.price.toFixed(2) }}</span>
    </div>

    <div class="quantity-controls">
      <label for="quantity">Quantity</label>
      <div class="quantity-buttons">
        <button (click)="decrementQuantity(i)">−</button>
        <span>{{ item.quantity }}</span>
        <button (click)="incrementQuantity(i)">+</button>
      </div>
    </div>

    <hr />
  </div>

  <div class="price-details">
    <div>
      <span>Subtotal</span>
      <span>${{ subtotal.toFixed(2) }}</span>
    </div>
    <div>
      <span>Delivery fee</span>
      <span>${{ deliveryFee.toFixed(2) }}</span>
    </div>
    <div class="total">
      <span>Total</span>
      <span class="total-amount">${{ total.toFixed(2) }}</span>
    </div>
  </div>

  <button class="checkout-button">Checkout</button>
</div>
