<div *ngFor="let section of items" class="menu-section">
  <div class="header" (click)="toggleSection(section.heading)">
    <h2 class="menu-title">{{ section.heading }}</h2>
    <span id="headingIcon">
      <i class="material-icons">
        {{ isSectionExpanded(section.heading) ? "expand_less" : "expand_more" }}
      </i>
    </span>
  </div>
  <div class="menu-items" *ngIf="isSectionExpanded(section.heading)">
    <app-rest-item
      *ngFor="let item of section.menuItems"
      [item]="item"
      [menuItems]="section"
    ></app-rest-item>
  </div>
</div>
