.work-with-quickbite,
.download-app {
  background-color: #edf0eb;
  width: 100%;
  padding: 0 3.125rem;
  border-top: 0.06rem solid black;
  border-bottom: 0.06rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* without this the padding will make the width 100% + 6.25rem */
  box-sizing: border-box;
}

.work-with-quickBite {
  background-color: #edf0eb;
  width: 100%;
  margin: 0rem 9.375rem 0 0rem;
  box-sizing: border-box;
}

.work-with-quickBite .work-header {
  /* border-top: 0.06rem solid black; */
  border-bottom: 0.06rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.work-with-quickBite .work-header h2 {
  margin: 0;
}

.work-with-quickBite .work-header #headingIcon {
  cursor: pointer;
}


.work-with-quickBite .steps {
  /* display: flex; */
  justify-content: space-between;
}

.work-with-quickBite .step {
  flex: 1;
  padding: 0.937rem 0rem;
  border-bottom: 0.125rem solid black;
  display: flex;
}

.work-with-quickBite .step:last-child {
  border-bottom: none;
}

.step .step-image img {
  max-width: 65% !important;
  align-items: start;
  display: flex !important;
  margin: 0 !important;
}

.step .step-content {
  margin-left: 1.25rem;
  /* margin-right: 1.25rem; */
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-content .title {
  padding-bottom: 1rem;
}

.step-content .description {
  padding-bottom: 1rem;
}

.step-content .btn {
  border-radius: 0.625rem;
  border: 0.06rem solid black;
  color: black;
  padding: 0.625rem;
  width: 8.125rem;
}

.work-with-quickBite .step:last-child {
  border-right: none;
}

.work-with-quickBite .step img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 1.25rem;
}

.work-with-quickBite .step h3 {
  margin: 0.625rem 0 0.312rem;
  text-align: left;
}

.work-with-quickBite .step p {
  margin: 0;
  text-align: justify;
}

.sectionBreak {
  border-top: 0.06rem solid black;
  margin: 0 0 1.25rem 0;
}

@media (max-width: 767px) {
  .work-with-quickBite .steps {
    flex-direction: column;
    align-items: center;
  }

  .work-with-quickBite .step {
    border-right: none;
    border-bottom: 0.06rem solid black;
    margin-bottom: 1.25rem;
    padding: 0;
  }

  .work-with-quickBite .step:last-child {
    border-bottom: none;
  }
}