.work-header {
  margin: 2.5rem 0rem 0 0rem;
  border-top: 0.06rem solid black;
  border-bottom: 0.06rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.rests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
@media screen and (max-width: 768px) {
  .work-header {
    margin: 2.5rem 0 0 0;
    padding: 0.5rem 1rem;
  }
  .rests {
    margin-top: 1.25rem;
  }
}
