.main-container {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #edf0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.container {
  margin: 2.5rem 5rem 5rem 5rem;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 2.5rem 0rem 5rem 0rem;
    background-color: #edf0eb;
  }
}

.header {
  background-color: #edf0eb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 9.375rem;
  box-sizing: border-box;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00103d;
}

.header .buttons {
  display: flex;
  gap: 0.625rem;
}

.signButton {
  border-radius: 0.625rem;
  background-color: black;
  color: white;
  height: 2.375rem;
  width: 6.25rem;
}

.signButtonLight {
  border-radius: 0.625rem;
  background-color: white;
  color: black;
  height: 2.375rem;
  width: 6.25rem;
}

.header button.signup {
  background-color: #00103d;
  color: white;
}

/* .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  /* Increase gap between elements */
  position: relative;
}

.center-image {
  width: 100%;
  height: 25rem;
  position: relative;
  visibility: visible;
  background-image: url(https://assets.api.uizard.io/api/cdn/stream/3e60192b-b847-421b-a18e-a8aae54308bd.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0rem 0rem;
  border-radius: 0.75rem;
  border: 0rem;
}

#centerImageStyle {
  width: 60rem;
  // height: auto;
  /* Maintain aspect ratio */
}

.left-image {
  position: absolute;
  left: -15rem;
  /* Adjust this value as needed */
  top: 20%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Center vertically */
}

#leftImageStyle {
  width: 9.375rem;
  height: auto;
  /* Maintain aspect ratio */
}

.right-image {
  position: absolute;
  right: -12.5rem;
  /* Adjust this value as needed */
  top: 4.375rem;
  /* Adjust this value as needed */
}

#rightImageStyle {
  width: 9.375rem;
  height: auto;
  /* Maintain aspect ratio */
}

@media screen and (max-width: 768px) {
  #rightImageStyle {
    display: none;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.text h1 {
  font-size: 2.5rem;
  color: #00103d;
  margin: 0;
  text-align: center;
  line-height: 1.2;
  width: 25rem;
}

.search-container {
  display: flex;
  // align-items: center;
  gap: 0.625rem;
  margin-top: 1.25rem;
  position: relative;
}

.search-container input {
  padding: 0.625rem 2.5rem 0.625rem 0.937rem;
  font-size: 1rem;
  border-radius: 0.625rem;
  border: none;
  width: 15.625rem;
  position: relative;
  box-shadow: none;
  /* Ensure no box-shadow */
  outline: none;
  /* Remove default outline on focus */
}

.search-container #searchBtn {
  left: 0.625rem;
  border-radius: 0.625rem;
  background-color: black;
  color: white;
  height: 2.375rem;
  width: 6.25rem;
}

.search-container .icon-input__icon {
  right: 7.5rem;
  position: absolute;
  color: #00103d;
  top: 20%;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.search-container button {
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1.875rem;
}

.left-shift-search {
  @extend .search-container;
  align-items: center; /* This will not be animated */
  position: relative;
  // left: 4.68rem;
  .icon-input__icon {
    left: -1.875rem;
    position: relative;
    color: #00103d;
    top: 20%;
  }
  .icon-input__text-field {
    width: 25rem;
  }
}
.filters {
  display: flex;
  align-items: start;
  position: relative;
  // left: 4.68rem;
  margin-top: 1.25rem;
  .btn {
    background-color: white;
    color: black;
    margin-right: 0.625rem;
    border: none;
    border-radius: 1.25rem;
    font-size: 1rem;
    border: 0.06rem solid black;
    font-weight: 500;
    // padding: 0.625rem 1.25rem;
    cursor: pointer;
  }

  .btn.active {
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
  }

  .left-image,
  .right-image {
    display: none; /* Optionally hide one or both images */
  }

  .text {
    margin-top: 1.25rem;
  }
  .center-image {
    height: 9rem;
  }
  // .center-image {
  #centerImageStyle {
    width: 20rem;
    // display: none;
  }
  .left-shift-search {
    justify-content: center;
    .icon-input__text-field {
      width: 15rem;
    }
    .icon-input {
      display: flex;
      #searchBtn {
        left: -1rem;
        border-radius: 0.625rem;
        background-color: black;
        color: white;
        height: 2.375rem;
        width: 5rem;
      }
    }
  }
  .main-container {
    text-align: left;
  }
  .filters {
    justify-content: center;
  }
}
