.how-it-works {
  /* margin-top: 3.125rem; */
  background-color: #edf0eb;
  width: 100%;
  margin: 3.75rem 9.375rem 0 0rem;
  box-sizing: border-box;
  border-bottom: 0.06rem solid black;
}

.how-it-works .how-header {
  border-top: 0.06rem solid black;
  border-bottom: 0.06rem solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}

.how-it-works .how-header h2 {
  margin: 0;
}

.how-it-works .how-header #headingIcon {
  cursor: pointer;
}

.how-it-works .steps {
  display: flex;
  justify-content: space-between;
}

.how-it-works .step {
  flex: 1;
  padding: 3.125rem 1.25rem;
  border-right: 0.06rem solid black;
}

.how-it-works .step:last-child {
  border-right: none;
}

.how-it-works .step img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 1.25rem;
}

.how-it-works .step h3 {
  margin: 0.625rem 0 0.312rem;
  text-align: left;
}

.how-it-works .step p {
  margin: 0;
  text-align: justify;
}

.sectionBreak {
  border-top: 0.06rem solid black;
  margin: 0 0 1.25rem 0;
}

@media (max-width: 767px) {
  .how-it-works .steps {
    flex-direction: column;
    align-items: center;
  }

  .how-it-works .step {
    border-right: none;
    border-bottom: 0.06rem solid black;
    margin-bottom: 1.25rem;
    padding: 0;
  }

  .how-it-works .step:last-child {
    border-bottom: none;
  }
}