<div class="card">
  <div class="card-content">
    <div class="text-content">
      <h3 class="title">{{ item.name }}</h3>
      <p class="description">{{ item.desc }}</p>
      <div class="price-tag">
        <span class="price">${{ item.price }}</span>
        <span class="popular">{{ item.isPopular ? "Popular" : "" }}</span>
      </div>
    </div>
    <div class="image-content">
      <img [src]="item.image" alt="{{ item.name }}" (click)="openFoodModal()" />
      <button class="add-button" (click)="incrementQuantity()" *ngIf="!item.quantity">+</button>
      <div *ngIf="item.quantity">
        <div class="quantity-buttons">
          <button (click)="decrementQuantity()">−</button>
          <span>{{ item.quantity }}</span>
          <button (click)="updateCart()">+</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Conditionally render the modal -->
<div *ngIf="isModalOpen" class="modal-backdrop" (click)="closeModal($event)">
  <app-menu-item-modal
    [item]="item"
    [toppings]="menuItems.toppings"
    (close)="closeModal($event)"
    (click)="$event.stopPropagation()"
  ></app-menu-item-modal>
</div>
