<div class="card">
  <div class="card-content">
    <div class="text-content">
      <h3 class="title">{{ item.name }}</h3>
      <p class="description">{{ item.desc }}</p>
      <div class="price-tag">
        <span class="price">${{ item.price }}</span>
        <span class="popular">{{ item.isPopular ? "Popular" : "" }}</span>
      </div>
    </div>
    <div class="image-content">
      <img [src]="item.image" alt="{{ item.name }}" (click)="openFoodModal()" />
      <button class="add-button" (click)="cartTrue()">+</button>
    </div>
  </div>
</div>

<!-- Conditionally render the modal -->
<div *ngIf="isModalOpen" class="modal-backdrop" (click)="closeModal()">
  <app-menu-item-modal
    [item]="item"
    [toppings]="menuItems.toppings"
    (close)="closeModal()"
    (click)="$event.stopPropagation()"
  ></app-menu-item-modal>
</div>
